# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
yolov8-env/
pbl4-env/

# Jupyter
.ipynb_checkpoints/

# Dataset / model nặng
datasets/
*.pt
*.h5
*.onnx
*.pb
*.ckpt

# Logs
*.log

# IDE
.vscode/
.idea/
