{% extends "layout.html" %}

{% block title %}Quản lý Môn học{% endblock %}

{% block content %}
    <h2>Quản lý Môn học - Lớp 9/1</h2>

    <button class="btn" id="addSubjectBtn">
        <i class="fa-solid fa-plus"></i> Thêm môn học mới
    </button>
    
    <div class="subject-grid" id="subjectGrid" style="margin-top: 20px;">
        <p>Đang tải dữ liệu môn học...</p>
    </div>
{% endblock %}


{% block scripts %}
    <!-- Nạp file JS dành riêng cho trang Môn học -->
    <script src="{{ url_for('static', filename='js/subjects.js') }}"></script>
{% endblock %}